html{
    font-size: larger;
}

body{
    color: white; 
    background-color: rgb(10, 58, 62);
    font-family: 'times new roman','arial';
    text-align: center;
}

h1{
    font-size: 80px;
    color: rgb(255, 192, 222); 
}

img{
    width: 50%; 
    height: 50%;  
    border-color: rgb(0, 0, 0); 
    border-radius: 10; 
}
#ah{
    border-color: white solid 5px;
    border-radius: 25%; 
    font-size: 25px; 
    font-family: 'Atkinson Hyperlegible Mono', 'arial';


}